* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background-color: #333;
    
    /*prevents scroll bar on x-axis*/
    overflow-x: hidden; 

    margin: 0;
    color: #222;
}
.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
}
.container.show-nav{
    transform: rotate(-20deg);
}