* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    background-color: #333;
    
    /*prevents scroll bar on x-axis*/
    overflow-x: hidden; 

    margin: 0;
    color: #222;
}
.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;

    /* align the container's content */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;

}
.container.show-nav {
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #FF7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}